services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile

    command: gunicorn backendTestTask.wsgi:application --bind 0.0.0.0:8000

    ports:
      - "8000:8000"

    env_file:
      - .env

    volumes:
      - ./backendTestTask:/app

    depends_on:
      - db

    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432


  db:
    image: postgres:15

    restart: always

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "8001:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: